#map { height: 100%; }

#buttonContainer{ 

    position: absolute;
    top: 20px;
    left: 100px;
    z-index: 1000;

 }

 .button{

    background-color: #82dc85; 
    color:rgb(255, 254, 254);
    width: 140px;
    height: 40px;
    font-size: 25px;

 }